* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header,
footer {
    background-color: #0aad4b;
    padding-top: 16px;
    color: #fff;
}

nav {
    background-color: #575fcf;
    padding: 16px 0;
    display: none;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header>.container,
footer>.container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    /* Adicionado para garantir que os elementos se ajustem em telas menores */
}

#sobre-a-loja img {
    max-width: 100%;
    /* Garante que a imagem não ultrapasse o contêiner pai */
    margin-right: 0;
    /* Remove a margem direita em telas menores */
}

section {
    padding: 48px 16px;
    /* Adicionado preenchimento lateral para telas menores */
}

section h2 {
    margin-bottom: 16px;
}

.lista-veiculos {
    flex-wrap: wrap;
}

.lista-veiculos li {
    list-style: none;
    max-width: 100%;
    /* Garante que os itens ocupem 100% da largura em telas menores */
    margin-bottom: 24px;
}

.lista-veiculos li img {
    max-width: 100%;
}

.item-central {
    margin: 0;
    max-width: 100%;
    /* Garante que os itens centrais ocupem 100% da largura em telas menores */
}

button {
    width: 100%;
    max-width: none;
    /* Remove a largura máxima para ocupar 100% da largura em telas menores */
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo input,
.form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;
    box-sizing: border-box;
    /* Garante que o preenchimento não afete a largura total */
}

form textarea {
    height: 120px;
    resize: none;
}

form {
    max-width: 100%;
    /* Garante que o formulário ocupe toda a largura do contêiner pai */
}

form button {
    max-width: 100%;
    /* Garante que o botão ocupe toda a largura do contêiner pai */
}

footer li {
    list-style: none;
    margin-left: 16px;
}

footer li img {
    height: 32px;
    max-width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}